$red-primary : #fa5252;
$red-dark : #f03e3e;
$red-light : #ff8787;


$teal-primary : #20c997;
$teal-dark : #12b886;
$teal-light : #63e6be;

$pink-primary : #e64980;
$pink-dark : #d6336c;
$pink-light : #f890b6;

$yellow-primary : #fcc419;
$yelloe-dark : #fab005;
$yellow-light : #ffec99;


$black : #212529;
$grey : #adb5bd;
$grey-light : #ced4da;
$grey-dark : #868e96;
$white : #f8f9fa;
$grey-lightest : #e9ecef;

